/* adapted from The Pudding's Svelte Starter */

:root {
  --sans: "Inter", Helvetica, Arial, sans-serif;
  --serif: "Tinos", Georgia, Times, serif;
  --mono: Menlo, Consolas, Monaco, "Courier New", monospace;

  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  --black: #000;
  --off-black: #121212;
  --charcoal: #4f4f4f;
  --dust: #a8989b;
  --alto: #dcdbdb;
  --off-white: #f0f0f0;
  --white: #fff;
  --purple: #a239ca;
  --blue: #4717f6;
  --green: #34a29e;
  --red: #ff533d;
  --yellow: #e5e338;

  --bg: var(--white);
  --fg: var(--off-black);
  --default: var(--alto);
  --primary: var(--red);
  --secondary: var(--green);

  --bp-mobile: 640px;
  --bp-tablet: 992px;

  /* water.css */

  --body-font: var(--serif);
  --headline-font: var(--sans);
  --background-body: var(--white);
  --background: var(--off-white);
  --background-alt: var(--off-white);
  --selection: var(--dust);
  --text-main: var(--off-black);
  --links: var(--purple);
  --focus: var(--green);
  --border: var(--alto);
  --animation-duration: 250ms;
  --button-hover: var(--alto);
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(-3%));
  --scrollbar-thumb-hover: color-mod(var(--button-hover) lightness(-10%));
  --form-placeholder: var(--gray-dark);
  --form-font: var(--sans);
  --form-text: var(--gray-dark);
  --input-thumb: var(--gray-dark);
  --highlight: var(--yellow);
}

.skip-to-main {
  border: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.skip-to-main:focus {
  width: auto;
  height: auto;
  padding: 0.5em;
  z-index: 1000;
}
